// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Vital from "../../../index.js";

export declare namespace SleepCycleClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SleepCycleClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SleepCycleClient.Options>;

    constructor(options: SleepCycleClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get sleep cycle for user_id
     *
     * @param {string} user_id
     * @param {Vital.SleepCycleGetRequest} request
     * @param {SleepCycleClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.sleepCycle.get("user_id", {
     *         startDate: "start_date",
     *         endDate: "end_date",
     *         provider: "provider"
     *     })
     */
    public get(
        user_id: string,
        request: Vital.SleepCycleGetRequest,
        requestOptions?: SleepCycleClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.ClientSleepCycleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(user_id, request, requestOptions));
    }

    private async __get(
        user_id: string,
        request: Vital.SleepCycleGetRequest,
        requestOptions?: SleepCycleClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.ClientSleepCycleResponse>> {
        const { startDate, endDate, provider } = request;
        const _queryParams: Record<string, unknown> = {};
        _queryParams.start_date = startDate;
        if (endDate != null) {
            _queryParams.end_date = endDate;
        }

        if (provider != null) {
            _queryParams.provider = provider;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `v2/summary/sleep_cycle/${core.url.encodePathParam(user_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ClientSleepCycleResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/summary/sleep_cycle/{user_id}",
        );
    }
}
