// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Vital from "../../../index.js";

export declare namespace LabReportClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LabReportClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LabReportClient.Options>;

    constructor(options: LabReportClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a parse job, uploads the file to provider, persists the job row,
     * and starts the ParseLabReport. Returns a generated job_id.
     *
     * @param {core.file.Uploadable} file
     * @param {Vital.BodyCreateLabReportParserJob} request
     * @param {LabReportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.labReport.parserCreateJob(createReadStream("path/to/file"), {
     *         userId: "user_id"
     *     })
     */
    public parserCreateJob(
        file: core.file.Uploadable,
        request: Vital.BodyCreateLabReportParserJob,
        requestOptions?: LabReportClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.ParsingJob> {
        return core.HttpResponsePromise.fromPromise(this.__parserCreateJob(file, request, requestOptions));
    }

    private async __parserCreateJob(
        file: core.file.Uploadable,
        request: Vital.BodyCreateLabReportParserJob,
        requestOptions?: LabReportClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.ParsingJob>> {
        const _request = await core.newFormData();
        await _request.appendFile("file", file);
        _request.append("user_id", request.userId);
        if (request.needsHumanReview != null) {
            _request.append("needs_human_review", request.needsHumanReview.toString());
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                "lab_report/v1/parser/job",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ParsingJob.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/lab_report/v1/parser/job");
    }

    /**
     * Retrieves the parse job status and stored result if completed.
     *
     * Returns:
     *     ParseLabResultJobResponse with job status and parsed data (if complete)
     *
     * @param {string} job_id
     * @param {LabReportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.labReport.parserGetJob("job_id")
     */
    public parserGetJob(
        job_id: string,
        requestOptions?: LabReportClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.ParsingJob> {
        return core.HttpResponsePromise.fromPromise(this.__parserGetJob(job_id, requestOptions));
    }

    private async __parserGetJob(
        job_id: string,
        requestOptions?: LabReportClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.ParsingJob>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `lab_report/v1/parser/job/${core.url.encodePathParam(job_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ParsingJob.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/lab_report/v1/parser/job/{job_id}",
        );
    }
}
