// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Vital from "../../../index.js";

export declare namespace SleepClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SleepClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SleepClient.Options>;

    constructor(options: SleepClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get sleep summary for user_id
     *
     * @param {string} user_id
     * @param {Vital.SleepGetRequest} request
     * @param {SleepClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.sleep.get("user_id", {
     *         provider: "provider",
     *         startDate: "start_date",
     *         endDate: "end_date"
     *     })
     */
    public get(
        user_id: string,
        request: Vital.SleepGetRequest,
        requestOptions?: SleepClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.ClientSleepResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(user_id, request, requestOptions));
    }

    private async __get(
        user_id: string,
        request: Vital.SleepGetRequest,
        requestOptions?: SleepClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.ClientSleepResponse>> {
        const { provider, startDate, endDate } = request;
        const _queryParams: Record<string, unknown> = {};
        if (provider != null) {
            _queryParams.provider = provider;
        }

        _queryParams.start_date = startDate;
        if (endDate != null) {
            _queryParams.end_date = endDate;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `v2/summary/sleep/${core.url.encodePathParam(user_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ClientSleepResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/summary/sleep/{user_id}");
    }

    /**
     * Get raw sleep summary for user_id
     *
     * @param {string} user_id
     * @param {Vital.SleepGetRawRequest} request
     * @param {SleepClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.sleep.getRaw("user_id", {
     *         provider: "provider",
     *         startDate: "start_date",
     *         endDate: "end_date"
     *     })
     */
    public getRaw(
        user_id: string,
        request: Vital.SleepGetRawRequest,
        requestOptions?: SleepClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.RawSleep> {
        return core.HttpResponsePromise.fromPromise(this.__getRaw(user_id, request, requestOptions));
    }

    private async __getRaw(
        user_id: string,
        request: Vital.SleepGetRawRequest,
        requestOptions?: SleepClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.RawSleep>> {
        const { provider, startDate, endDate } = request;
        const _queryParams: Record<string, unknown> = {};
        if (provider != null) {
            _queryParams.provider = provider;
        }

        _queryParams.start_date = startDate;
        if (endDate != null) {
            _queryParams.end_date = endDate;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `v2/summary/sleep/${core.url.encodePathParam(user_id)}/raw`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RawSleep.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/summary/sleep/{user_id}/raw",
        );
    }

    /**
     * Get Sleep stream for a user_id
     *
     * @param {string} sleep_id - The Vital Sleep ID
     * @param {SleepClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.sleep.getStreamBySleepId("sleep_id")
     */
    public getStreamBySleepId(
        sleep_id: string,
        requestOptions?: SleepClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.ClientFacingSleepStream> {
        return core.HttpResponsePromise.fromPromise(this.__getStreamBySleepId(sleep_id, requestOptions));
    }

    private async __getStreamBySleepId(
        sleep_id: string,
        requestOptions?: SleepClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.ClientFacingSleepStream>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `v2/timeseries/sleep/${core.url.encodePathParam(sleep_id)}/stream`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ClientFacingSleepStream.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/timeseries/sleep/{sleep_id}/stream",
        );
    }
}
