// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Vital from "../../../index.js";

export declare namespace WorkoutsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WorkoutsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WorkoutsClient.Options>;

    constructor(options: WorkoutsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get workout summary for user_id
     *
     * @param {string} user_id
     * @param {Vital.WorkoutsGetRequest} request
     * @param {WorkoutsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.workouts.get("user_id", {
     *         provider: "provider",
     *         startDate: "start_date",
     *         endDate: "end_date"
     *     })
     */
    public get(
        user_id: string,
        request: Vital.WorkoutsGetRequest,
        requestOptions?: WorkoutsClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.ClientWorkoutResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(user_id, request, requestOptions));
    }

    private async __get(
        user_id: string,
        request: Vital.WorkoutsGetRequest,
        requestOptions?: WorkoutsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.ClientWorkoutResponse>> {
        const { provider, startDate, endDate } = request;
        const _queryParams: Record<string, unknown> = {};
        if (provider != null) {
            _queryParams.provider = provider;
        }

        _queryParams.start_date = startDate;
        if (endDate != null) {
            _queryParams.end_date = endDate;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `v2/summary/workouts/${core.url.encodePathParam(user_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ClientWorkoutResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/summary/workouts/{user_id}",
        );
    }

    /**
     * Get raw workout summary for user_id
     *
     * @param {string} user_id
     * @param {Vital.WorkoutsGetRawRequest} request
     * @param {WorkoutsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.workouts.getRaw("user_id", {
     *         provider: "provider",
     *         startDate: "start_date",
     *         endDate: "end_date"
     *     })
     */
    public getRaw(
        user_id: string,
        request: Vital.WorkoutsGetRawRequest,
        requestOptions?: WorkoutsClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.RawWorkout> {
        return core.HttpResponsePromise.fromPromise(this.__getRaw(user_id, request, requestOptions));
    }

    private async __getRaw(
        user_id: string,
        request: Vital.WorkoutsGetRawRequest,
        requestOptions?: WorkoutsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.RawWorkout>> {
        const { provider, startDate, endDate } = request;
        const _queryParams: Record<string, unknown> = {};
        if (provider != null) {
            _queryParams.provider = provider;
        }

        _queryParams.start_date = startDate;
        if (endDate != null) {
            _queryParams.end_date = endDate;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `v2/summary/workouts/${core.url.encodePathParam(user_id)}/raw`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RawWorkout.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/summary/workouts/{user_id}/raw",
        );
    }

    /**
     * @param {string} workout_id - The Vital ID for the workout
     * @param {WorkoutsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.workouts.getByWorkoutId("workout_id")
     */
    public getByWorkoutId(
        workout_id: string,
        requestOptions?: WorkoutsClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.ClientFacingStream> {
        return core.HttpResponsePromise.fromPromise(this.__getByWorkoutId(workout_id, requestOptions));
    }

    private async __getByWorkoutId(
        workout_id: string,
        requestOptions?: WorkoutsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.ClientFacingStream>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `v2/timeseries/workouts/${core.url.encodePathParam(workout_id)}/stream`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ClientFacingStream.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/timeseries/workouts/{workout_id}/stream",
        );
    }
}
