// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Vital from "../../../index.js";

export declare namespace AggregateClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AggregateClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AggregateClient.Options>;

    constructor(options: AggregateClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} user_id
     * @param {Vital.QueryBatch} request
     * @param {AggregateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.aggregate.queryOne("user_id", {
     *         timeframe: {
     *             type: "relative",
     *             anchor: "anchor",
     *             past: {
     *                 unit: "minute"
     *             }
     *         },
     *         queries: [{
     *                 select: [{
     *                         arg: {
     *                             sleep: "id"
     *                         },
     *                         func: "mean"
     *                     }]
     *             }]
     *     })
     */
    public queryOne(
        user_id: string,
        request: Vital.QueryBatch,
        requestOptions?: AggregateClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.AggregationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryOne(user_id, request, requestOptions));
    }

    private async __queryOne(
        user_id: string,
        request: Vital.QueryBatch,
        requestOptions?: AggregateClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.AggregationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ accept: "*/*" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `aggregate/v1/user/${core.url.encodePathParam(user_id)}/query`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.QueryBatch.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AggregationResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/aggregate/v1/user/{user_id}/query",
        );
    }

    /**
     * @param {string} user_id
     * @param {string} query_id_or_slug
     * @param {AggregateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.aggregate.getResultTableForContinuousQuery("user_id", "query_id_or_slug")
     */
    public getResultTableForContinuousQuery(
        user_id: string,
        query_id_or_slug: string,
        requestOptions?: AggregateClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.AggregationResult> {
        return core.HttpResponsePromise.fromPromise(
            this.__getResultTableForContinuousQuery(user_id, query_id_or_slug, requestOptions),
        );
    }

    private async __getResultTableForContinuousQuery(
        user_id: string,
        query_id_or_slug: string,
        requestOptions?: AggregateClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.AggregationResult>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ accept: "*/*" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `aggregate/v1/user/${core.url.encodePathParam(user_id)}/continuous_query/${core.url.encodePathParam(query_id_or_slug)}/result_table`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AggregationResult.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/aggregate/v1/user/{user_id}/continuous_query/{query_id_or_slug}/result_table",
        );
    }

    /**
     * @param {string} user_id
     * @param {string} query_id_or_slug
     * @param {Vital.AggregateGetTaskHistoryForContinuousQueryRequest} request
     * @param {AggregateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vital.UnprocessableEntityError}
     *
     * @example
     *     await client.aggregate.getTaskHistoryForContinuousQuery("user_id", "query_id_or_slug", {
     *         nextCursor: "next_cursor",
     *         limit: 1
     *     })
     */
    public getTaskHistoryForContinuousQuery(
        user_id: string,
        query_id_or_slug: string,
        request: Vital.AggregateGetTaskHistoryForContinuousQueryRequest = {},
        requestOptions?: AggregateClient.RequestOptions,
    ): core.HttpResponsePromise<Vital.ContinuousQueryTaskHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getTaskHistoryForContinuousQuery(user_id, query_id_or_slug, request, requestOptions),
        );
    }

    private async __getTaskHistoryForContinuousQuery(
        user_id: string,
        query_id_or_slug: string,
        request: Vital.AggregateGetTaskHistoryForContinuousQueryRequest = {},
        requestOptions?: AggregateClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vital.ContinuousQueryTaskHistoryResponse>> {
        const { nextCursor, limit } = request;
        const _queryParams: Record<string, unknown> = {};
        if (nextCursor != null) {
            _queryParams.next_cursor = nextCursor;
        }

        if (limit != null) {
            _queryParams.limit = limit;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitalEnvironment.Production,
                `aggregate/v1/user/${core.url.encodePathParam(user_id)}/continuous_query/${core.url.encodePathParam(query_id_or_slug)}/task_history`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ContinuousQueryTaskHistoryResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vital.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitalError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/aggregate/v1/user/{user_id}/continuous_query/{query_id_or_slug}/task_history",
        );
    }
}
